.App{
  display:flex;
  justify-content:center;
}

label{
  font-weight:bold;
  display:flex;
  margin-bottom: 1vh;
}

input[type='text'],
input[type='email'],
input[type='channel'],
input[type='submit']{
  display: block;
  width:400px;
  padding:6px 12px;
  font-size: 14px;
  margin-bottom: 3vh;
  color:black;
  border-radius: 4px;
}


